.BtnD-enviar {
    background-color: #680134;
    color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0;
    border: none;
    padding: 10px 20px;
    float:none;
}

.Form-Container2 {
    background-color: #96064e;
    color: antiquewhite;
    text-align: center;
    background-position: center;
    text-align: center;
    width: 60%;
    margin-left: 23%;
    margin-top: 8%;
  }